<h1 class="text-center p-4" style="font-family: 'Merriweather', serif;">Newsletter - Calm Mind</h1>

<div class="full-screen1">

  <div class="text-center">
    <img src="../../../../assets/imagens/infra-desktop.png" class="img-fluid rounded" alt="Descrição da imagem">
  </div>
</div>


<div class="full-screen2">
  <div class="container py-5" style="font-family: 'Merriweather', serif;">
    <div class="row align-items-center">
      <!-- Coluna de texto, título e citação -->
      <div class="col-md-6">
        <h2>Motivação</h2>
        <p>O motivo do desenvolvimento dessa aplicação pode ser descrito em uma citação interessante de um livro que ganhei de minha mãe.</p>
        <blockquote class="blockquote">
          <p class="mb-0">"Os feed de notícias têm cada vez mais recursos e chamadas que induzem ao clique. Até pouco tempo atrás, recebíamos jornal na porta de casa uma vez por semana e decidíamos o que ler; hoje, os conglomerados e as modernas agências de notícias revelam quais informações nos fornecer e quando. Elas podem rastrear cada busca e cada clique, ofertando reportagens que nos deixam com 'coceira nos dedos'. Com base nesse feedback, conseguem produzir matérias mais clicáveis em vez de simplesmente transmitir notícias. Observe que hoje, mais do que há 10 anos, muitas manchetes são formuladas como perguntas ou já trazem respostas parciais."</p>
          <footer class="blockquote-footer p-4">Judson Brewer, <cite title="Source Title">Desconstruindo a Ansiedade: p.39</cite></footer>
        </blockquote>
      </div>
      <!-- Coluna da foto -->
      <div class="col-md-6">
        <img src="../../../../assets/imagens/logo1.jpg" class="img-fluid rounded w-75" alt="Descrição da imagem">
      </div>
    </div>
  </div>
</div>

