

<div class="min-h-screen flex flex-col items-center justify-center">
  <h3 class="text-lg font-semibold">Conhecendo a Arquitetura:</h3>
  <div class="pt-8 pl-20">
    <img src="../../../../assets/imagens/infra-desktop.png" class="max-w-full h-auto" alt="Descrição da imagem">
  </div>
</div>


<div class="min-h-screen flex items-center py-20">
  <div class="container mx-auto">
    <div class="flex flex-wrap items-center">
      <!-- Coluna de texto, título e citação -->
      <div class="w-full md:w-1/2">
        <h2 class="text-2xl font-bold">Motivação</h2>
        <p class="mt-4">O motivo do desenvolvimento dessa aplicação pode ser descrito em uma citação interessante de um livro que ganhei de minha mãe.</p>
        <blockquote class="mt-4 bg-gray-100 p-4 italic border-l-4 border-gray-500">
          <p class="mb-4">"Os feed de notícias têm cada vez mais recursos e chamadas que induzem ao clique. Até pouco tempo atrás, recebíamos jornal na porta de casa uma vez por semana e decidíamos o que ler; hoje, os conglomerados e as modernas agências de notícias revelam quais informações nos fornecer e quando. Elas podem rastrear cada busca e cada clique, ofertando reportagens que nos deixam com 'coceira nos dedos'. Com base nesse feedback, conseguem produzir matérias mais clicáveis em vez de simplesmente transmitir notícias. Observe que hoje, mais do que há 10 anos, muitas manchetes são formuladas como perguntas ou já trazem respostas parciais."</p>
          <footer class="blockquote-footer">Judson Brewer, <cite title="Source Title">Desconstruindo a Ansiedade: p.39</cite></footer>
        </blockquote>
      </div>
      <!-- Coluna da foto -->
      <div class="w-full md:w-1/2 flex justify-center mt-8 md:mt-0">
        <img src="../../../../assets/imagens/logo1.jpg" class="rounded max-w-md h-auto" alt="Descrição da imagem">
      </div>
    </div>
  </div>
</div>
