

<h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white text-center" style="padding-top: 10%;">Notícias Filtradas sem ADS</h1>
<p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400 text-center">Aqui nós levamos a sério sua saúde mental e o seu desenvolvimento intelectual.</p>


<div class="min-h-screen bg-gray-100 flex items-center justify-center px-4 md:px-8">
  <div class="container mx-auto py-12 md:py-24 headline" style="margin-left: 20px; margin-right: 25px;">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
          
          <img class="mask mask-squircle" style="width: 70%;" src="../../../../assets/imagens/logo1.jpg" />

          
          <div class="flex flex-col justify-center">
              <h1 class="font-bold text-4xl md:text-5xl lg:text-6xl mb-4">O que me motiva:</h1>
              <p class="font-bold mb-4">A motivação pode ser descrita através da sitação de um livro que ganhei de minha mãe...</p>
              <p class="text-gray-600 text-lg mb-8">
                "Os feed de notícias têm cada vez mais recursos e chamadas que induzem ao clique. Até pouco tempo atrás, recebíamos jornal na porta de casa uma vez por semana e decidíamos o que ler; hoje, os conglomerados e as modernas agências de notícias revelam quais informações nos fornecer e quando. Elas podem rastrear cada busca e cada clique, ofertando reportagens que nos deixam com 'coceira nos dedos'. Com base nesse feedback, conseguem produzir matérias mais clicáveis em vez de simplesmente transmitir notícias. Observe que hoje, mais do que há 10 anos, muitas manchetes são formuladas como perguntas ou já trazem respostas parciais."
              </p>
          </div>
      </div>
  </div>
</div>



<!-- <div class="min-h-screen flex items-center py-20">
  <div class="container mx-auto">
    <div class="flex flex-wrap items-center">
  
      <div class="w-full md:w-1/2">
        <h2 class="text-2xl font-bold">Motivação</h2>
        <p class="mt-4">O motivo do desenvolvimento dessa aplicação pode ser descrito em uma citação interessante de um livro que ganhei de minha mãe.</p>
        <blockquote class="mt-4 bg-gray-100 p-4 italic border-l-4 border-gray-500">
          <p class="mb-4">"Os feed de notícias têm cada vez mais recursos e chamadas que induzem ao clique. Até pouco tempo atrás, recebíamos jornal na porta de casa uma vez por semana e decidíamos o que ler; hoje, os conglomerados e as modernas agências de notícias revelam quais informações nos fornecer e quando. Elas podem rastrear cada busca e cada clique, ofertando reportagens que nos deixam com 'coceira nos dedos'. Com base nesse feedback, conseguem produzir matérias mais clicáveis em vez de simplesmente transmitir notícias. Observe que hoje, mais do que há 10 anos, muitas manchetes são formuladas como perguntas ou já trazem respostas parciais."</p>
          <footer class="blockquote-footer">Judson Brewer, <cite title="Source Title">Desconstruindo a Ansiedade: p.39</cite></footer>
        </blockquote>
      </div>

      <div class="w-full md:w-1/2 flex justify-center mt-8 md:mt-0">
        <img src="../../../../assets/imagens/logo1.jpg" class="rounded max-w-md h-auto" alt="Descrição da imagem">
      </div>
    </div>
  </div>
</div> -->


