# Arquivos de dependências
/node_modules/
.angular
node_modules
.node_modules
# Arquivos de build
/dist/
/tmp/
/out-tsc/

# Arquivos e pastas de configuração
/.angular-cache/
/.sass-cache/
/.v8flags*.json
/.npm
/.idea/
*.log
*.log.*
*.pid
*.seed
*.pid.lock

# Arquivos de IDE e editores
/.vscode/
/.idea/
*.sublime-workspace
*.sublime-project

# Arquivos de sistema operacional
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Arquivos de pacotes
*.tgz
/package-lock.json
/yarn.lock

# Arquivo de configuração do Firebase
**/firebase.json
**/.firebaserc

# Arquivos de chave
*secret*.json

# Arquivo de ambiente Angular
*.env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivo de cache do Angular Universal
/nguniversal/

# Arquivos de log do npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
