<header class="bg-gray-800 p-3">
  <div class="container mx-auto flex flex-wrap items-center justify-center lg:justify-between">
    <div class="flex justify-center lg:justify-start">
      <!-- Icone SVG aqui, se necessário -->
    </div>
    <nav class="flex justify-center w-full lg:w-auto">
      <ul class="flex flex-col lg:flex-row list-none lg:mb-0">
        <li><a href="/" class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75">Home</a></li>
        <li><a href="/corridas-df" class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75">Corridas DF</a></li>
        <li><a href="/noticias-cientificas" class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75">Notícias Científicas</a></li>
        <li><a href="/noticias-anime" class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75">Notícias Geek</a></li>
        <li><a href="/noticias-atuais" class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75">Notícias Atuais</a></li>
      </ul>
    </nav>
    <!-- Outro SVG ou elemento aqui, se necessário -->
  </div>
</header>
