<div class="container p-5">
  <table class="table table-light table-bordered table-striped">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Distância</th>
          <th scope="col">Evento</th>
          <th scope="col">Valor</th>
          <th scope="col">Horário</th>
          <th scope="col">Cadastrado</th>
          <th scope="col">Atualizado</th>
          <th scope="col">Inscrição</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let corrida of pagedItems">
          <td data-label="Nome">{{corrida.nome}}</td>
          <td data-label="Distância">{{corrida.distancia}}</td>
          <td data-label="Evento">{{corrida.data_evento | date: 'dd/MM/yy'}} </td>
          <td data-label="Valor">{{ corrida.valor ? corrida.valor : 'Sem valor definido' }}</td>
          <td data-label="Horário">{{corrida.horario}}</td>
          <td data-label="Cadastrado">{{corrida.date_cadastro | date: 'dd/MM/yy' }}</td>
          <td data-label="Atualizado">{{corrida.data_atualizacao | date: 'dd/MM/yy' }}</td>
          <td data-label="Inscrição"><a [href]="corrida.inscricao" target="_blank">Link</a></td>
        </tr>
      </tbody>
  </table>
  <div class="d-flex justify-content-between mb-3">
    <div class="lead">{{getTotalAtualNaPagina()}}</div>
    <div>
      <button class="btn btn-secondary me-2" *ngIf="currentPage !== 1" (click)="setPage(currentPage - 1)">Anterior</button>
      <button class="btn btn-secondary" (click)="setPage(currentPage + 1)" [disabled]="currentPage * itemsPerPage >= listaCorridasDF.length">Próximo</button>
    </div>
  </div>
  
</div>