@media screen and (max-width: 767px) {

    .container table {
      border: 0;
    }
  
    .container table caption {
      font-size: 1.3em;
    }
  
    .container table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  
    .container table tbody tr {
      border-bottom: 3px solid #000000;
      display: block;
      margin-bottom: .625em;
    }
  
    .container table td {
      border-bottom: 1px solid #000000;
      display: block;
      text-align: right;
    }
  
    .container table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
    }
  
    .container table td:last-child {
      border-bottom: 0;
    }
  }
  