
  <div class="flex bg-base-300 items-center justify-center">
    <div class="container mx-auto py-12 md:py-24 headline">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div class="flex items-center justify-center">
                <div class="avatar">
                    <img class="th-auto max-w-xl rounded-lg shadow-xl dark:shadow-gray-800" src="../../../../assets/imagens/infra-desktop.png" alt="image description">
                </div>
            </div>
            <div class="flex flex-col justify-center">
                <div class="text-center md:text-left">
                    <h1 class="text-center font-bold text-4xl md:text-5xl lg:text-6xl">Nosso site conta com uma Infraestrutura</h1>
                </div>
                <div class="text-center md:text-left">
                    <p class="text-gray-600 text-center">Em Micro Serviços</p>
                </div>
            </div>
        </div>
    </div>
  </div>